<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Vapor.Properties.Color" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Vapor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Vapor.Properties.Color>
            <setting name="StatusIngameFore" serializeAs="String">
                <value>177, 251, 80</value>
            </setting>
            <setting name="StatusIngameBack" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusOnlineFore" serializeAs="String">
                <value>111, 189, 255</value>
            </setting>
            <setting name="StatusOnlineBack" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusOfflineFore" serializeAs="String">
                <value>137, 137, 137</value>
            </setting>
            <setting name="StatusOfflineBack" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusBlockedFore" serializeAs="String">
                <value>251, 80, 80</value>
            </setting>
            <setting name="StatusBlockedBack" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusInvitedFore" serializeAs="String">
                <value>250, 218, 94</value>
            </setting>
            <setting name="StatusInvitedBack" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendsFore" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendsBack" serializeAs="String">
                <value />
            </setting>
            <setting name="FriendsHigh" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusRequestingFore" serializeAs="String">
                <value>135, 169, 107</value>
            </setting>
            <setting name="StatusRequestingBack" serializeAs="String">
                <value />
            </setting>
        </Vapor.Properties.Color>
        <Vapor.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="auth" serializeAs="String">
                <value />
            </setting>
            <setting name="steam3_useUdp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatFont" serializeAs="String">
                <value>Arial, 16pt</value>
            </setting>
            <setting name="ChatFlashWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </Vapor.Properties.Settings>
    </userSettings>
</configuration>
